
#titre{
	
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 30px;
}

.button-number{
	width: 125px;
	height: 125px ;
	border-radius: 0ch ;

}

.ligne{
	margin-top: 50px;
}

.number{
	width: 100px;
	height: 100px;
}

#aleatoire{
	padding: 40px;
	background-color: #28cafc;
	border-color: #28cafc;
	font-size: 40px;
}

#manuel{
	padding: 40px;
	background-color: #ff6344;
	border-color: #ff6344;
	font-size: 40px;
}

#bulle{
	width: 350px;
	height: 350px;
}

a  {
	text-decoration: none !important;  
	color: white !important;
}

.ecran{
	background-color: rgba(177, 216, 231, 0.781);
	padding: 50px;
	border: solid black 7px;
	
}

.img-regle{
	width: 50px;
	height: 50px;
}